aiobotocore==2.21.1 ; python_full_version == "3.10.13"
aiohappyeyeballs==2.6.1 ; python_full_version == "3.10.13"
aiohttp==3.11.16 ; python_full_version == "3.10.13"
aioitertools==0.12.0 ; python_full_version == "3.10.13"
aiosignal==1.3.2 ; python_full_version == "3.10.13"
alembic==1.15.2 ; python_full_version == "3.10.13"
annotated-types==0.7.0 ; python_full_version == "3.10.13"
anyio==4.9.0 ; python_full_version == "3.10.13"
appnope==0.1.4 ; python_full_version == "3.10.13" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0 ; python_full_version == "3.10.13"
argon2-cffi==23.1.0 ; python_full_version == "3.10.13"
arrow==1.3.0 ; python_full_version == "3.10.13"
asttokens==3.0.0 ; python_full_version == "3.10.13"
async-lru==2.0.5 ; python_full_version == "3.10.13"
async-timeout==4.0.3 ; python_full_version == "3.10.13"
attrs==25.3.0 ; python_full_version == "3.10.13"
babel==2.17.0 ; python_full_version == "3.10.13"
backoff==2.2.1 ; python_full_version == "3.10.13"
beautifulsoup4==4.13.3 ; python_full_version == "3.10.13"
biopython==1.85 ; python_full_version == "3.10.13"
bleach==6.2.0 ; python_full_version == "3.10.13"
blinker==1.9.0 ; python_full_version == "3.10.13"
blis==0.7.11 ; python_full_version == "3.10.13"
botocore==1.37.1 ; python_full_version == "3.10.13"
cachetools==5.5.2 ; python_full_version == "3.10.13"
catalogue==2.0.10 ; python_full_version == "3.10.13"
certifi==2025.1.31 ; python_full_version == "3.10.13"
cffi==1.17.1 ; python_full_version == "3.10.13"
charset-normalizer==3.4.1 ; python_full_version == "3.10.13"
chocolate==0.0.2 ; python_full_version == "3.10.13"
class-resolver==0.5.4 ; python_full_version == "3.10.13"
click-default-group==1.2.4 ; python_full_version == "3.10.13"
click==8.1.8 ; python_full_version == "3.10.13"
cloudpathlib==0.21.0 ; python_full_version == "3.10.13"
colorama==0.4.6 ; python_full_version == "3.10.13"
colorlog==6.9.0 ; python_full_version == "3.10.13"
comm==0.2.2 ; python_full_version == "3.10.13"
confection==0.1.5 ; python_full_version == "3.10.13"
conllu==6.0.0 ; python_full_version == "3.10.13"
contourpy==1.3.1 ; python_full_version == "3.10.13"
cryptography==44.0.2 ; python_full_version == "3.10.13"
csvwlib==0.3.2 ; python_full_version == "3.10.13"
cycler==0.12.1 ; python_full_version == "3.10.13"
cymem==2.0.11 ; python_full_version == "3.10.13"
dataclasses-json==0.6.7 ; python_full_version == "3.10.13"
debugpy==1.8.13 ; python_full_version == "3.10.13"
decorator==5.2.1 ; python_full_version == "3.10.13"
defusedxml==0.7.1 ; python_full_version == "3.10.13"
dill==0.3.9 ; python_full_version == "3.10.13"
distro==1.9.0 ; python_full_version == "3.10.13"
docdata==0.0.4 ; python_full_version == "3.10.13"
docling-core==2.25.0 ; python_full_version == "3.10.13"
docling-ibm-models==3.4.1 ; python_full_version == "3.10.13"
docling-parse==4.0.0 ; python_full_version == "3.10.13"
docling==2.28.4 ; python_full_version == "3.10.13"
duckdb==1.2.1 ; python_full_version == "3.10.13"
easyocr==1.7.2 ; python_full_version == "3.10.13"
elementpath==4.8.0 ; python_full_version == "3.10.13"
et-xmlfile==2.0.0 ; python_full_version == "3.10.13"
exceptiongroup==1.2.2 ; python_full_version == "3.10.13"
executing==2.2.0 ; python_full_version == "3.10.13"
falcon==3.1.3 ; python_full_version == "3.10.13"
fastjsonschema==2.21.1 ; python_full_version == "3.10.13"
filelock==3.18.0 ; python_full_version == "3.10.13"
filetype==1.2.0 ; python_full_version == "3.10.13"
flask==3.1.0 ; python_full_version == "3.10.13"
fonttools==4.57.0 ; python_full_version == "3.10.13"
fqdn==1.5.1 ; python_full_version == "3.10.13"
frozenlist==1.5.0 ; python_full_version == "3.10.13"
fsspec==2025.3.2 ; python_full_version == "3.10.13"
gcsfs==2025.3.2 ; python_full_version == "3.10.13"
google-api-core==2.24.2 ; python_full_version == "3.10.13"
google-auth-oauthlib==1.2.1 ; python_full_version == "3.10.13"
google-auth==2.38.0 ; python_full_version == "3.10.13"
google-cloud-core==2.4.3 ; python_full_version == "3.10.13"
google-cloud-storage==3.1.0 ; python_full_version == "3.10.13"
google-crc32c==1.7.1 ; python_full_version == "3.10.13"
google-resumable-media==2.7.2 ; python_full_version == "3.10.13"
googleapis-common-protos==1.69.2 ; python_full_version == "3.10.13"
graphviz==0.20.3 ; python_full_version == "3.10.13"
greenlet==3.1.1 ; python_full_version == "3.10.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h11==0.14.0 ; python_full_version == "3.10.13"
html5lib==1.1 ; python_full_version == "3.10.13"
html5rdf==1.2.1 ; python_full_version == "3.10.13"
httpcore==1.0.7 ; python_full_version == "3.10.13"
httpx-sse==0.4.0 ; python_full_version == "3.10.13"
httpx==0.28.1 ; python_full_version == "3.10.13"
huggingface-hub==0.30.1 ; python_full_version == "3.10.13"
icecream==2.1.4 ; python_full_version == "3.10.13"
idna==3.10 ; python_full_version == "3.10.13"
imageio==2.37.0 ; python_full_version == "3.10.13"
importlib-metadata==8.6.1 ; python_full_version == "3.10.13"
interchange==2021.0.4 ; python_full_version == "3.10.13"
ipykernel==6.29.5 ; python_full_version == "3.10.13"
ipython==8.34.0 ; python_full_version == "3.10.13"
ipywidgets==8.1.5 ; python_full_version == "3.10.13"
isodate==0.7.2 ; python_full_version == "3.10.13"
isoduration==20.11.0 ; python_full_version == "3.10.13"
isort==6.0.1 ; python_full_version == "3.10.13"
itsdangerous==2.2.0 ; python_full_version == "3.10.13"
jedi==0.19.2 ; python_full_version == "3.10.13"
jinja2-time==0.2.0 ; python_full_version == "3.10.13"
jinja2==3.1.6 ; python_full_version == "3.10.13"
jiter==0.9.0 ; python_full_version == "3.10.13"
jmespath==1.0.1 ; python_full_version == "3.10.13"
joblib==1.4.2 ; python_full_version == "3.10.13"
jpype1==1.4.0 ; python_full_version == "3.10.13"
json5==0.11.0 ; python_full_version == "3.10.13"
jsonlines==3.1.0 ; python_full_version == "3.10.13"
jsonpatch==1.33 ; python_full_version == "3.10.13"
jsonpath-python==1.0.6 ; python_full_version == "3.10.13"
jsonpickle==4.0.5 ; python_full_version == "3.10.13"
jsonpointer==3.0.0 ; python_full_version == "3.10.13"
jsonref==1.1.0 ; python_full_version == "3.10.13"
jsonschema-specifications==2024.10.1 ; python_full_version == "3.10.13"
jsonschema==4.23.0 ; python_full_version == "3.10.13"
jupyter-client==8.6.3 ; python_full_version == "3.10.13"
jupyter-core==5.7.2 ; python_full_version == "3.10.13"
jupyter-events==0.12.0 ; python_full_version == "3.10.13"
jupyter-lsp==2.2.5 ; python_full_version == "3.10.13"
jupyter-server-terminals==0.5.3 ; python_full_version == "3.10.13"
jupyter-server==2.15.0 ; python_full_version == "3.10.13"
jupyterlab-pygments==0.3.0 ; python_full_version == "3.10.13"
jupyterlab-server==2.27.3 ; python_full_version == "3.10.13"
jupyterlab-widgets==3.0.13 ; python_full_version == "3.10.13"
jupyterlab==4.3.6 ; python_full_version == "3.10.13"
kglab==0.6.6 ; python_full_version == "3.10.13"
kiwisolver==1.4.8 ; python_full_version == "3.10.13"
langchain-community==0.3.20 ; python_full_version == "3.10.13"
langchain-core==0.3.50 ; python_full_version == "3.10.13"
langchain-openai==0.3.12 ; python_full_version == "3.10.13"
langchain-text-splitters==0.3.7 ; python_full_version == "3.10.13"
langchain==0.3.22 ; python_full_version == "3.10.13"
langcodes==3.5.0 ; python_full_version == "3.10.13"
langsmith==0.3.23 ; python_full_version == "3.10.13"
language-data==1.3.0 ; python_full_version == "3.10.13"
language-tags==1.2.0 ; python_full_version == "3.10.13"
latex2mathml==3.77.0 ; python_full_version == "3.10.13"
lazy-loader==0.4 ; python_full_version == "3.10.13"
lxml==5.3.1 ; python_full_version == "3.10.13"
mako==1.3.9 ; python_full_version == "3.10.13"
marisa-trie==1.2.1 ; python_full_version == "3.10.13"
markdown-it-py==3.0.0 ; python_full_version == "3.10.13"
marko==2.1.2 ; python_full_version == "3.10.13"
markupsafe==3.0.2 ; python_full_version == "3.10.13"
marshmallow==3.26.1 ; python_full_version == "3.10.13"
matplotlib-inline==0.1.7 ; python_full_version == "3.10.13"
matplotlib==3.10.1 ; python_full_version == "3.10.13"
mdurl==0.1.2 ; python_full_version == "3.10.13"
mistune==3.1.3 ; python_full_version == "3.10.13"
monotonic==1.6 ; python_full_version == "3.10.13"
more-click==0.1.2 ; python_full_version == "3.10.13"
more-itertools==10.6.0 ; python_full_version == "3.10.13"
morph-kgc==2.8.1 ; python_full_version == "3.10.13"
mpire==2.10.2 ; python_full_version == "3.10.13"
mpmath==1.3.0 ; python_full_version == "3.10.13"
multidict==6.2.0 ; python_full_version == "3.10.13"
multiprocess==0.70.17 ; python_full_version == "3.10.13"
murmurhash==1.0.12 ; python_full_version == "3.10.13"
mypy-extensions==1.0.0 ; python_full_version == "3.10.13"
nbclient==0.10.2 ; python_full_version == "3.10.13"
nbconvert==7.16.6 ; python_full_version == "3.10.13"
nbformat==5.10.4 ; python_full_version == "3.10.13"
neo4j==5.28.1 ; python_full_version == "3.10.13"
nest-asyncio==1.6.0 ; python_full_version == "3.10.13"
networkx==3.4.2 ; python_full_version == "3.10.13"
ninja==1.11.1.4 ; python_full_version == "3.10.13"
nmslib @ git+https://github.com/nmslib/nmslib.git@2ae5378027a107474a952edae1e1c2dc2df941d2#subdirectory=python_bindings ; python_full_version == "3.10.13"
notebook-shim==0.2.4 ; python_full_version == "3.10.13"
notebook==7.3.3 ; python_full_version == "3.10.13"
numpy==1.26.4 ; python_full_version == "3.10.13"
nvidia-cublas-cu12==12.4.5.8 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
nvidia-cuda-cupti-cu12==12.4.127 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
nvidia-cuda-nvrtc-cu12==12.4.127 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
nvidia-cuda-runtime-cu12==12.4.127 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
nvidia-cudnn-cu12==9.1.0.70 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
nvidia-cufft-cu12==11.2.1.3 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
nvidia-curand-cu12==10.3.5.147 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
nvidia-cusolver-cu12==11.6.1.9 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
nvidia-cusparse-cu12==12.3.1.170 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
nvidia-cusparselt-cu12==0.6.2 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
nvidia-ml-py==12.570.86 ; python_full_version == "3.10.13"
nvidia-nccl-cu12==2.21.5 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
nvidia-nvjitlink-cu12==12.4.127 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
nvidia-nvtx-cu12==12.4.127 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
oauthlib==3.2.2 ; python_full_version == "3.10.13"
ontospy==2.1.1 ; python_full_version == "3.10.13"
openai==1.70.0 ; python_full_version == "3.10.13"
opencv-python-headless==4.11.0.86 ; python_full_version == "3.10.13"
openpyxl==3.1.5 ; python_full_version == "3.10.13"
optuna==4.2.1 ; python_full_version == "3.10.13"
orjson==3.10.16 ; python_full_version == "3.10.13" and platform_python_implementation != "PyPy"
overrides==7.7.0 ; python_full_version == "3.10.13"
owlready2==0.47 ; python_full_version == "3.10.13"
owlrl==7.1.3 ; python_full_version == "3.10.13"
oxrdflib==0.3.7 ; python_full_version == "3.10.13"
packaging==24.2 ; python_full_version == "3.10.13"
pandas==2.2.3 ; python_full_version == "3.10.13"
pandocfilters==1.5.1 ; python_full_version == "3.10.13"
pansi==2024.11.0 ; python_full_version == "3.10.13"
parso==0.8.4 ; python_full_version == "3.10.13"
patsy==1.0.1 ; python_full_version == "3.10.13"
pexpect==4.9.0 ; python_full_version == "3.10.13" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==11.1.0 ; python_full_version == "3.10.13"
platformdirs==4.3.7 ; python_full_version == "3.10.13"
pluggy==1.5.0 ; python_full_version == "3.10.13"
preshed==3.0.9 ; python_full_version == "3.10.13"
prettytable==3.16.0 ; python_full_version == "3.10.13"
prometheus-client==0.21.1 ; python_full_version == "3.10.13"
prompt-toolkit==3.0.50 ; python_full_version == "3.10.13"
propcache==0.3.1 ; python_full_version == "3.10.13"
proto-plus==1.26.1 ; python_full_version == "3.10.13"
protobuf==6.30.2 ; python_full_version == "3.10.13"
pslpython==2.4.0 ; python_full_version == "3.10.13"
psutil==7.0.0 ; python_full_version == "3.10.13"
ptyprocess==0.7.0 ; (sys_platform != "win32" and sys_platform != "emscripten" or os_name != "nt") and python_full_version == "3.10.13"
pure-eval==0.2.3 ; python_full_version == "3.10.13"
py2neo==2021.2.4 ; python_full_version == "3.10.13"
pyarrow==19.0.1 ; python_full_version == "3.10.13"
pyasn1-modules==0.4.2 ; python_full_version == "3.10.13"
pyasn1==0.6.1 ; python_full_version == "3.10.13"
pybind11==2.13.6 ; python_full_version == "3.10.13"
pyclipper==1.3.0.post6 ; python_full_version == "3.10.13"
pycparser==2.22 ; python_full_version == "3.10.13"
pydantic-core==2.33.1 ; python_full_version == "3.10.13"
pydantic-settings==2.8.1 ; python_full_version == "3.10.13"
pydantic==2.11.2 ; python_full_version == "3.10.13"
pydotplus==2.0.2 ; python_full_version == "3.10.13"
pyfiglet==1.0.2 ; python_full_version == "3.10.13"
pygments==2.19.1 ; python_full_version == "3.10.13"
pykeen==1.11.0 ; python_full_version == "3.10.13"
pylatexenc==2.10 ; python_full_version == "3.10.13"
pymupdf==1.25.5 ; python_full_version == "3.10.13"
pynvml==12.0.0 ; python_full_version == "3.10.13"
pyoxigraph==0.3.22 ; python_full_version == "3.10.13"
pyparsing==3.2.3 ; python_full_version == "3.10.13"
pypdfium2==4.30.1 ; python_full_version == "3.10.13"
pysbd==0.3.4 ; python_full_version == "3.10.13"
pyshacl==0.30.1 ; python_full_version == "3.10.13"
pystow==0.7.0 ; python_full_version == "3.10.13"
python-bidi==0.6.6 ; python_full_version == "3.10.13"
python-dateutil==2.9.0.post0 ; python_full_version == "3.10.13"
python-docx==1.1.2 ; python_full_version == "3.10.13"
python-dotenv==1.1.0 ; python_full_version == "3.10.13"
python-json-logger==3.3.0 ; python_full_version == "3.10.13"
python-pptx==1.0.2 ; python_full_version == "3.10.13"
pytz==2025.2 ; python_full_version == "3.10.13"
pyvis==0.3.2 ; python_full_version == "3.10.13"
pywin32==310 ; (platform_system == "Windows" or sys_platform == "win32") and python_full_version == "3.10.13"
pywinpty==2.0.15 ; python_full_version == "3.10.13" and os_name == "nt"
pyyaml==6.0.2 ; python_full_version == "3.10.13"
pyzmq==26.3.0 ; python_full_version == "3.10.13"
rdflib-jsonld==0.6.2 ; python_full_version == "3.10.13"
rdflib==7.1.4 ; python_full_version == "3.10.13"
referencing==0.36.2 ; python_full_version == "3.10.13"
regex==2024.11.6 ; python_full_version == "3.10.13"
requests-oauthlib==2.0.0 ; python_full_version == "3.10.13"
requests-toolbelt==1.0.0 ; python_full_version == "3.10.13"
requests==2.32.3 ; python_full_version == "3.10.13"
rfc3339-validator==0.1.4 ; python_full_version == "3.10.13"
rfc3986-validator==0.1.1 ; python_full_version == "3.10.13"
rich==14.0.0 ; python_full_version == "3.10.13"
rpds-py==0.24.0 ; python_full_version == "3.10.13"
rsa==4.9 ; python_full_version == "3.10.13"
rtree==1.4.0 ; python_full_version == "3.10.13"
ruamel-yaml-clib==0.2.12 ; python_full_version == "3.10.13" and platform_python_implementation == "CPython"
ruamel-yaml==0.18.10 ; python_full_version == "3.10.13"
s3fs==2025.3.2 ; python_full_version == "3.10.13"
safetensors==0.5.3 ; python_full_version == "3.10.13"
scikit-image==0.25.2 ; python_full_version == "3.10.13"
scikit-learn==1.1.3 ; python_full_version == "3.10.13"
scipy==1.15.2 ; python_full_version == "3.10.13"
scispacy==0.5.5 ; python_full_version == "3.10.13"
semchunk==2.2.2 ; python_full_version == "3.10.13"
send2trash==1.8.3 ; python_full_version == "3.10.13"
setuptools==78.1.0 ; python_full_version == "3.10.13"
shapely==2.1.0 ; python_full_version == "3.10.13"
shellingham==1.5.4 ; python_full_version == "3.10.13"
six==1.17.0 ; python_full_version == "3.10.13"
smart-open==7.1.0 ; python_full_version == "3.10.13"
sniffio==1.3.1 ; python_full_version == "3.10.13"
soupsieve==2.6 ; python_full_version == "3.10.13"
spacy-layout==0.0.12 ; python_full_version == "3.10.13"
spacy-legacy==3.0.12 ; python_full_version == "3.10.13"
spacy-loggers==1.0.5 ; python_full_version == "3.10.13"
spacy==3.7.5 ; python_full_version == "3.10.13"
sparqlwrapper==2.0.0 ; python_full_version == "3.10.13"
sqlalchemy==2.0.40 ; python_full_version == "3.10.13"
srsly==2.5.1 ; python_full_version == "3.10.13"
stack-data==0.6.3 ; python_full_version == "3.10.13"
statsmodels==0.14.4 ; python_full_version == "3.10.13"
sympy==1.13.1 ; python_full_version == "3.10.13"
tabulate==0.9.0 ; python_full_version == "3.10.13"
tenacity==9.1.2 ; python_full_version == "3.10.13"
terminado==0.18.1 ; python_full_version == "3.10.13"
thinc==8.2.5 ; python_full_version == "3.10.13"
threadpoolctl==3.6.0 ; python_full_version == "3.10.13"
tifffile==2025.3.30 ; python_full_version == "3.10.13"
tiktoken==0.9.0 ; python_full_version == "3.10.13"
tinycss2==1.4.0 ; python_full_version == "3.10.13"
tokenizers==0.19.1 ; sys_platform == "darwin" and platform_machine == "x86_64" and python_full_version == "3.10.13"
tokenizers==0.21.1 ; (sys_platform != "darwin" or platform_machine != "x86_64") and python_full_version == "3.10.13"
tomli==2.2.1 ; python_full_version == "3.10.13"
torch-max-mem==0.1.3 ; python_full_version == "3.10.13"
torch-ppr==0.0.8 ; python_full_version == "3.10.13"
torch==2.6.0 ; python_full_version == "3.10.13"
torchvision==0.21.0 ; python_full_version == "3.10.13"
tornado==6.4.2 ; python_full_version == "3.10.13"
tqdm==4.67.1 ; python_full_version == "3.10.13"
traitlets==5.14.3 ; python_full_version == "3.10.13"
transformers==4.42.4 ; sys_platform == "darwin" and platform_machine == "x86_64" and python_full_version == "3.10.13"
transformers==4.50.3 ; (sys_platform != "darwin" or platform_machine != "x86_64") and python_full_version == "3.10.13"
triton==3.2.0 ; platform_machine == "x86_64" and platform_system == "Linux" and python_full_version == "3.10.13"
typer==0.12.5 ; python_full_version == "3.10.13"
types-python-dateutil==2.9.0.20241206 ; python_full_version == "3.10.13"
typing-extensions==4.13.0 ; python_full_version == "3.10.13"
typing-inspect==0.9.0 ; python_full_version == "3.10.13"
typing-inspection==0.4.0 ; python_full_version == "3.10.13"
tzdata==2025.2 ; python_full_version == "3.10.13"
uri-template==1.3.0 ; python_full_version == "3.10.13"
uritemplate==4.1.1 ; python_full_version == "3.10.13"
urllib3==2.3.0 ; python_full_version == "3.10.13"
urlpath==1.2.0 ; python_full_version == "3.10.13"
wasabi==1.1.3 ; python_full_version == "3.10.13"
wcwidth==0.2.13 ; python_full_version == "3.10.13"
weasel==0.4.1 ; python_full_version == "3.10.13"
webcolors==24.11.1 ; python_full_version == "3.10.13"
webencodings==0.5.1 ; python_full_version == "3.10.13"
websocket-client==1.8.0 ; python_full_version == "3.10.13"
werkzeug==3.1.3 ; python_full_version == "3.10.13"
widgetsnbextension==4.0.13 ; python_full_version == "3.10.13"
wrapt==1.17.2 ; python_full_version == "3.10.13"
xlsxwriter==3.2.2 ; python_full_version == "3.10.13"
yarl==1.18.3 ; python_full_version == "3.10.13"
zipp==3.21.0 ; python_full_version == "3.10.13"
zstandard==0.23.0 ; python_full_version == "3.10.13"
